---
import { GITHUB, TWITTER, LINKEDIN, BLUESKY } from '../consts';
import GithubIcon from '../icons/github.svg';
import TwitterIcon from '../icons/twitter.svg';
import LinkedinIcon from '../icons/linkedin.svg';
import BlueskyIcon from '../icons/bluesky.svg';
import type { SvgComponent } from 'astro/types';
import type { ImageMetadata } from 'astro';
type IconLabel = typeof GITHUB | typeof TWITTER | typeof LINKEDIN | typeof BLUESKY;

interface Props {
  label: IconLabel;
  href: string;
}

const { label, href } = Astro.props;

const icons: Record<IconLabel, SvgComponent & ImageMetadata> = {
  [GITHUB]: GithubIcon,
  [TWITTER]: TwitterIcon,
  [LINKEDIN]: LinkedinIcon,
  [BLUESKY]: BlueskyIcon,
};

const Icon = icons[label];
---

<>
  <a href={href} aria-label={label} target="_blank" rel="noopener noreferrer">
    <Icon />
  </a>
</>
