---
import Nav from '../components/Nav.astro';
import '../styles/global.css';
import { getCollection } from 'astro:content';

interface Props {
  title: string;
  wide?: boolean;
}

const { title, wide = false } = Astro.props;

const hasBlog = (await getCollection('blog'))
  .some((post) => import.meta.env.PROD ? !post.data.draft : true);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  </head>
  <body>
    <div class="accent-bar"></div>
    <div class:list={["page-wrapper", { "page-wrapper--wide": wide }]}>
      <Nav hasBlog={hasBlog} />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
